<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>

 {{> sidebar}}

  <div class="account-details">
    <h2>Account Details</h2>
    <div>
      <h3>User Id: {{account_details.User_id}}</h3>
      <p>User Id: {{account_details.User_id}}</p>
      <h3>PAN Number:{{account_details.stock-symbol}}</h3>
      <h3>Phone Number:{{account_detail.PHONE}}</h3>
      <h3>Demat Number:{{account_detail.DEMAT}}</h3>
      <h3>Bank Account Num:{{account_detail.BANK_ACT_NUM}}</h3>

    </div>
  
  </div>
</body>

</html>
